.inputs {
	display: flex;
	flex-direction: column;
}

.inputs-card {
  margin: auto;
  max-width: 300px;
  margin-top: 16px;
}

.inputs .stocks {
	display: flex;
	flex-direction: row;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

body {
  min-height: 100%;
  background-color: #f8fbff;
}

.comparation-card {
  margin: auto;
  max-width: 800px;
  margin-top: 32px;
}

.comparations {
  display: flex;
}

.comparation {
  width: 40%;
}

.company-name {
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

table {
  width: 100%;
  text-align: center;
}

table th {
  width: 33.333%;
}

.category-border {
  border-bottom: 1px solid;
}

.company-information {
  color: #AA0000;
}

.better-value {
  color: #00AA00;
}

.tie-value {
  color: #DDDD00;
}
